.about {
    display: block;
    width: 100%;
    height: max-content;
    background-color: rgb(253, 253, 253);

}


.imgAbout {
    display: block;
    border-radius: 50%;
    height: 270px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

}

#h2about {
    padding-top: 5vh;
}


#button-div {
    display: block;
    margin: auto;
    margin-top: 35px;
    text-decoration: none;
    text-align: center;
    font-family: $ff;
    width: max-content;
    border-style: solid;
    border-color: rgb(157, 206, 252);
    background-color: rgb(157, 206, 252);
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 10vh;


    &:hover {
        background-color: white;
        border-style: solid;
        border-color: rgb(157, 206, 252);
        color: black;
        transition: all 0.2s;
    }

}